<form asp-controller="Login" asp-action="Login" method="post" style="width:300px;margin-left:auto;margin-right:auto;">
    <h1>Login</h1>
    <p>Enter the administrator password to login:</p>
    <input type="text" name="username" id="username" />
    <input type="password" name="password" id="password" />
    <input type="submit" value="Login" />
</form>