<form asp-controller="Login" asp-action="SetPassword" method="post" style="width:300px;margin-left:auto;margin-right:auto;">
    <h1>No admin password has been set</h1>
    <p>You need to set one now:</p>
    <input type="text" name="username" id="username" value="administrator" readonly/>
    <input type="password" name="password" id="password" />
    <input type="submit" value="SetPassword" />
</form>